{% assign heading-slug = include.heading | slugify %}
<fieldset class="filter">
  <legend>{{ include.heading }}</legend>
  <fieldset>
    <legend>Filter type</legend>
    <input
      type="radio"
      id="{{ heading-slug }}-or"
      name="{{ heading-slug }}-filter-type"
      value="OR"
      onchange="selectBrowseOption();"
      checked
    />
    <label for="{{ heading-slug }}-or">OR</label>
    <input
      type="radio"
      id="{{ heading-slug }}-and"
      name="{{ heading-slug }}-filter-type"
      value="AND"
      onchange="{{ onchange }}"
    />
    <label for="{{ heading-slug }}-and">AND</label>
  </fieldset>
  <div class="options">
    {% for option in include.options %}
    <div class="checkbox">
      <input
        type="checkbox"
        id="{{ option }}-option"
        name="{{ heading-slug }}-options"
        value="{{ option }}"
        onchange="selectBrowseOption();"
      />
      <label for="{{ option }}-option">{{ option }}</label>
    </div>
    {% endfor %}
  </div>
</fieldset>
