<ul class="browse-filter-tree">
{% for filter-value in include.filter-values %}
  {% capture checkbox-id %}{{
    include.filter-key }}-option-{{ filter-value[0] | slugify }}{%
  endcapture %}
  <li>
    {% if filter-value[1] != null %}
      <details open>
        <summary>
    {% else %}
      <div class="checkbox">
    {% endif %}
          <input type="checkbox" id="{{ checkbox-id }}"/>
          <label for="{{ checkbox-id }}">{{ filter-value[0] }}</label>
    {% if filter-value[1] != null %}
        </summary>
        {% assign filter-values = filter-value[1] %}
        {% include browse-filter-tree.html
          filter-key=include.filter-key
          filter-values=filter-values
        %}
      </details>
    {% else %}
      </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
