{% assign heading-slug = include.heading | slugify %}
<details class="filter">
  <summary class="filter-summary">
    <div>{{ include.heading }}</div>
  </summary>
  <fieldset class="filter-type">
    <legend>Filter type</legend>
    <input
      type="radio"
      id="{{ heading-slug }}-and"
      name="{{ heading-slug }}-filter-type"
      value="AND"
      onchange="selectBrowseOption();"
      checked
    />
    <label for="{{ heading-slug }}-and">AND</label>
    <input
      type="radio"
      id="{{ heading-slug }}-or"
      name="{{ heading-slug }}-filter-type"
      value="OR"
      onchange="selectBrowseOption();"
    />
    <label for="{{ heading-slug }}-or">OR</label>
  </fieldset>
  {% capture checkbox-group-name %}{{ heading-slug }}-options{% endcapture %}
  <div class="select-all-none">
    <button onclick="setAllCheckboxes('{{ checkbox-group-name }}', true);">
        Select all
    </button>
    <button onclick="setAllCheckboxes('{{ checkbox-group-name }}', false);">
        Select none
    </button>
  </div>
  {% if include.tree %}
    <div class="options tree">
      {% include browse-filter-tree.html
        filter-key=heading-slug
        filter-values=include.options
        checkbox-group-name=checkbox-group-name
      %}
  {% else %}
    <div class="options flat">
      {% for option in include.options %}
        {% assign option-slug = option | slugify %}
        <div class="checkbox">
          <input
            type="checkbox"
            id="{{ heading-slug }}-option-{{ option-slug }}"
            name="{{ checkbox-group-name }}"
            value="{{ option-slug }}"
            onchange="selectBrowseOption();"
          />
          <label for="{{ heading-slug }}-option-{{ option-slug }}">
            {{ option }}
          </label>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</details>
