{% assign heading-slug = include.heading | slugify %}
<fieldset class="filter">
  <legend>{{ include.heading }}</legend>
  <fieldset>
    <legend>Filter type</legend>
    <input
      type="radio"
      id="{{ heading-slug }}-or"
      name="{{ heading-slug }}-filter-type"
      value="OR"
      onchange="selectBrowseOption();"
      checked
    />
    <label for="{{ heading-slug }}-or">OR</label>
    <input
      type="radio"
      id="{{ heading-slug }}-and"
      name="{{ heading-slug }}-filter-type"
      value="AND"
      onchange="selectBrowseOption();"
    />
    <label for="{{ heading-slug }}-and">AND</label>
  </fieldset>
  <div class="options">
    {% capture checkbox-group-name %}{{ heading-slug }}-options{% endcapture %}
    {% if include.tree %}
      {% include browse-filter-tree.html
        filter-key=heading-slug
        filter-values=include.options
        checkbox-group-name=checkbox-group-name
      %}
    {% else %}
      {% for option in include.options %}
        {% assign option-slug = option | slugify %}
        <div class="checkbox">
          <input
            type="checkbox"
            id="{{ option-slug }}-option"
            name="{{ checkbox-group-name }}"
            value="{{ option-slug }}"
            onchange="selectBrowseOption();"
          />
          <label for="{{ option-slug }}-option">{{ option }}</label>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</fieldset>
