#browse-two-columns {
  display: flex;
  gap: 10px;

  h2 {
    font-size: 14pt;
    margin: 10px 0;
    padding-left: 5px;
  }

  #filters-section {
    flex: 1;

    .filter {
      margin: 10px 0 0 0;

      .options {
        height: 92px;
        margin-top: 10px;
        overflow-y: scroll;

        .checkbox {
          display: flex;
          align-items: flex-start;

          label {
            padding-left: 5px;
          }
        }
      }
    }
  }

  #results-section {
    flex: 3;
    min-width: 0;

    #results {
      border: 1px solid gray;
      height: 1401px;
      margin-bottom: 10px;
      margin-top: 18px;
      overflow-y: scroll;

      .resource {
        padding: 10px;

        &:nth-child(odd) {
          background-color: #f0f0f0;
        }

        h3 {
          font-size: 14pt;
          margin: 0;
        }
      }
    }
  }
}
