nav {
  margin-top: 5px;
}

#resource-table {
  margin-top: 10px;

  th {
    background-color: $gray;
    text-align: right;
  }

  th, td {
    padding: 5px;

    .none {
      font-style: italic;
    }
  }
}
