#browse-two-columns {
  display: flex;
  gap: 10px;

  h2 {
    font-size: 14pt;
    margin: 10px 0;
    padding-left: 5px;
  }

  #filters-section {
    width: 326px;

    .filter {
      margin: 10px 0 0 0;

      .select-all-none {
        margin-top: 10px;
      }

      .options {
        height: 85px;
        margin-top: 10px;
        overflow-y: scroll;

        .browse-filter-tree {
          list-style-type: none;
          margin: 0;
          padding-left: 27.5px;

          li {
            details {
              margin-left: -16px;

              summary {
                text-indent: -42px;
                padding-left: 40px;
              }
            }
          }
        }

        .checkbox {
          align-items: flex-start;
          display: flex;

          label {
            padding-left: 5px;
          }
        }
      }
    }
  }

  #results-section {
    flex-grow: 1;
    min-width: 0;

    #results {
      border: 1px solid gray;
      height: 2705px;
      margin-top: 18px;
      overflow-y: scroll;
      word-wrap: break-word;

      .resource {
        padding: 10px;

        &:nth-child(odd) {
          background-color: $gray;
        }

        h3 {
          font-size: 14pt;
          margin: 0;
        }
      }
    }
  }
}
