---
title: "Browse"
redirect_from: "/resources/"
---
<div id="browse-two-columns">
  <section id="filters-section">
    <h2>Filters</h2>
    {% include browse-filter.html
      heading="Type"
      options=site.data.resource-filter-values.type
      tree=true
    %}
    {% include browse-filter.html
      heading="Subject"
      options=site.data.resource-filter-values.subject
    %}
    {% include browse-filter.html
      heading="Format"
      options=site.data.resource-filter-values.format
    %}
    {% include browse-filter.html
      heading="HPCU Subject"
      options=site.data.resource-filter-values.hpcu-subject
    %}
    {% include browse-filter.html
      heading="HPCU Subject 2"
      options=site.data.resource-filter-values.hpcu-subject-2
      tree=true
    %}
    {% include browse-filter.html
      heading="HPCU Keywords"
      options=site.data.resource-filter-values.hpcu-keywords
      tree=true
    %}
    {% include browse-filter.html
      heading="Location"
      options=site.data.resource-filter-values.location
      tree=true
    %}
    {% include browse-filter.html
      heading="Language"
      options=site.data.resource-filter-values.language
    %}
    {% include browse-filter.html
      heading="Audience"
      options=site.data.resource-filter-values.audience
    %}
    {% include browse-filter.html
      heading="Education Level"
      options=site.data.resource-filter-values.education-level
      tree=true
    %}
    {% include browse-filter.html
      heading="Sector"
      options=site.data.resource-filter-values.sector
    %}
    {% include browse-filter.html
      heading="Difficulty"
      options=site.data.resource-filter-values.difficulty
    %}
  </section>
  <section id="results-section">
    <h2 id="results-count">{{ site.resources | size | count }} results</h2>
    <div id="results">
      {% for resource in site.resources %}
        <article
          class="resource"
          {% for filter-values in site.data.resource-filter-values %}
            {% assign key = filter-values[0] %}
            data-{{ key }}="{%
            for metadata in resource[key] %}{{
              metadata | slugify }}{%
              unless forloop.last
                %},{%
              endunless %}{%
            endfor %}"
          {% endfor %}
        >
          <h3>
            <a
              href="{{ resource.resource-url }}"
              target="_blank"
              rel="noopener noreferrer"
            >{{ resource.title }}</a>
          </h3>
          <p>{{ resource.description }}</p>
          <a href="{{ resource.url }}">Reviews and Metadata</a>
        </article>
      {% endfor %}
    </div>
  </section>
</div>
