---
layout: "default"
---
<nav>
  <a href="{{ '/resources/search/' | relative_url }}">Browse Resources</a>
</nav>
<table id="resource-table">
  {% for field in site.data.resource-fields %}
    {% assign slugified-field = field | slugify %}
    <tr>
      <th>{{ field }}</th>
      <td>
        {% if page[slugified-field] %}
          {% if slugified-field == 'resource-url' %}
            <a
              href="{{ page.resource-url }}"
              target="_blank"
              rel="noopener noreferrer"
            >{{ page.resource-url }}</a>
          {% else %}
            {{ page[slugified-field] | join: ', ' }}
          {% endif %}
        {% else %}
          <div class="none">None listed</div>
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
<section id="reviews">
  <h2>Reviews</h2>
  {% assign num-reviews = page.reviews | size %}
  {% if num-reviews == 0 %}
    <p class="none">(none)</p>
  {% else %}
    {% for review in page.reviews %}
      <article>
        <header>
          <h3>{{ review.type }} by {{ review.author }}</h3>
          <p>Modified {{ review.modified | date: '%B %e, %Y' }}</p>
          {% include review-stars.html num-stars=review.num-stars %}
        </header>
        <section>
          <p>{{ review.contents.text }}</p>
        </section>
        <section class="usability-section">
          <h4>Usability of the resource:</h4>
          <p>{{ review.contents.usability }}</p>
        </section>
      </article>
    {% endfor %}
  {% endif %}
</section>
